section.article_container a {
	text-decoration: none!important;
	color: #000!important;
}

article .projet_title, article .foot{
	background-color: #9998;
	width: 100%;
	box-sizing: border-box;
	padding: 1em;	margin: 0; 
}

article .projet_title{
	border-radius: 1em 1em 0 0; 
}

article p {
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	margin: 0;
	text-align: justify;
}

article.expand,section.article_container {
	margin-top: 4em; 
}

article .foot{
	border-radius: 0 0 1em 1em;
}

span.tag {
	padding: 0.5em;
	color:#fff;
	background: #000b;
	border-radius: 0.2em;
}

code {
	padding: 0.15em 0;
	background-color: #0006;
	color: #ff0;
}

.img-limit {
	max-width: 90%;
	max-height: 40em;
}